body {
  background-color: #ffffff;
  background-image: linear-gradient(
    270deg,
    #ffffff 15%,
    #b4efff 52%,
    #ffffff 90%
  );
}

a {
  text-decoration: none;
  color: #1f437ab0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.weather-container {
  max-width: 800px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 20px;
}

.container {
  display: block;
  margin: 10 auto;
  padding: 15px 15px 15px 15px;
}

.search {
  display: block;
  text-align: center;
  align-content: center;
  margin-top: 10px;
}

.current {
  margin: 20px;
  display: block;
  text-align: center;
}
.cityName {
  padding-bottom: 0;
  margin: 0px 0px 5px 0px;
}

.currentTemp {
  padding-top: 25px;
}

.currWeatherDetailed {
  font-size: 15px;
  font-weight: 400;
  padding-top: 20px;
}

.current-weather {
  font-size: 20px;
  padding: 50px;
  text-align: center;
}

.current-icon {
  font-size: 100px;
}

.forecast {
  font-size: 15px;
  padding: 20px 10px 10px 10px;
}

.footer {
  font-size: 8px;
  text-align: center;
  padding-top: 0px;
}
